# EDA

![]()

In [2]:
import warnings

warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


from matplotlib.ticker import PercentFormatter
plt.rcParams.update({ "figure.figsize" : (8, 5),"axes.facecolor" : "white", "axes.edgecolor":  "black"})
plt.rcParams["figure.facecolor"]= "w"
pd.plotting.register_matplotlib_converters()
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Stakeholder
Timothy Stevens: Owns expensive houses in the center, needs to get rid, best timing within a year, open for renovation when profits rise.

# Import the data

In [3]:
df = pd.read_csv("data/King_County_House_prices_dataset.csv")

# Understanding the data

In [4]:
df.info()
# waterfront and yr_renovated contain NAs
# date needs to be converted
# Better description of columns can be found here: https://geodacenter.github.io/data-and-lab/KingCounty-HouseSales2015/
# Info on Zipcodes: https://gis-kingcounty.opendata.arcgis.com/datasets/zipcodes-for-king-county-and-surrounding-area-shorelines-zipcode-shore-area/explore?location=47.504243%2C-121.477600%2C8.67
# sqft_living15 is the avarage size of living space of the closest 15 neighbours. Will help to determine if a house is bigger compared to neighbors.
# view - An index from 0 to 4 of how good the view of the property was

#condition - An index from 1 to 5 on the condition of the apartment,

#grade - An index from 1 to 13, where 1-3 falls short of building construction and design, 7 has an average level of construction and design, and 11-13 have a high quality level of construction and design.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  float64
 9   view           21534 non-null  float64
 10  condition      21597 non-null  int64
 11  grade          21597 non-null  int64
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [29]:
#df.hist(column=["price","bedrooms","sqft_living","floors","grade","yr_built","yr_renovated","sqft_living15"],layout=(4,2),figsize=(12,6))

# There are a few very big very very expensive houses
# Filter them for a first glance

#df[df.price < 4000000].hist(column=["price","bedrooms","sqft_living","floors","grade","yr_built","yr_renovated","sqft_living15"],layout=(4,2),figsize=(12,6))

# There seem to be some houses that are very high cost and/or high number of bedrooms, very high number of sqft_living. Maybe outliers? need to check.
# Most houses have not been renovated which is sometimes a 0 and sometimes NaN !

df[df.price > 7000000]
# 45 houses over 3 million
# 2 houses over 7 million

df[df.bedrooms > 10]
# 2 houses with more than 10 bedrooms, 33 bedrooms one is probably a typo because it is not too big.

df[df.sqft_living > 8000]
# 211 houses with over 5k sqft living
# 9 houses with over 8k sqft living. all with high grade and a high price so probably valid data.

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1162,1247600105,10/20/2014,5110000.000,5,5.250,8010,45517,2.000,1.000,4.000,...,12,5990,2020.0,1999,0.000,98033,47.677,-122.211,3430,26788
3910,9808700762,6/11/2014,7060000.000,5,4.500,10040,37325,2.000,1.000,2.000,...,11,7680,2360.0,1940,2001.000,98004,47.650,-122.214,3930,25449
4407,2470100110,8/4/2014,5570000.000,5,5.750,9200,35069,2.000,0.000,0.000,...,13,6200,3000.0,2001,NaN,98039,47.629,-122.233,3560,24345
7245,6762700020,10/13/2014,7700000.000,6,8.000,12050,27600,2.500,0.000,3.000,...,13,8570,3480.0,1910,1987.000,98102,47.630,-122.323,3940,8800
8085,1924059029,6/17/2014,4670000.000,5,6.750,9640,13068,1.000,1.000,4.000,...,12,4820,4820.0,1983,2009.000,98040,47.557,-122.210,3270,10454
9245,9208900037,9/19/2014,6890000.000,6,7.750,9890,31374,2.000,0.000,4.000,...,13,8860,1030.0,2001,0.000,98039,47.630,-122.240,4540,42730
12764,1225069038,5/5/2014,2280000.000,7,8.000,13540,307752,3.000,0.000,4.000,...,12,9410,4130.0,1999,0.000,98053,47.667,-121.986,4850,217800
14542,2303900035,6/11/2014,2890000.000,5,6.250,8670,64033,2.000,0.000,4.000,...,13,6120,2550.0,1965,NaN,98177,47.730,-122.372,4140,81021
18288,6072800246,7/2/2014,3300000.000,5,6.250,8020,21738,2.000,0.000,0.000,...,11,8020,0.0,2001,NaN,98006,47.568,-122.189,4160,18969